body {
  background-color: #fdf6f0;
  font-family: "Raleway", sans-serif;
}

.bg-pastel-navbar {
  background-color: #ebe2eb;
}

.navbar-light .navbar-nav .nav-link {
  color: #333;
}

.navbar-light .navbar-brand { 
  color: #333;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-pastel {
  background-color: #f3e5f5;
}

.btn-pastel {
  background-color: #ffe4e1;
  color: #333;
  border: none;
}

.btn-pastel:hover {
  background-color: #ffb6b6;
  color: white;
}

.btn-pastel-outline {
  background-color: transparent;
    border: 2px solid #d9b7de;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
